# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Local config
.env

# Logs and data
SmartCFDTradingAgent/logs/
SmartCFDTradingAgent/storage/decision_log.csv
pnl_log.csv
SmartCFDTradingAgent/storage/cache/
