# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Local config
*.env
config.ini

# Logs and data
logs/
SmartCFDTradingAgent/logs/
SmartCFDTradingAgent/storage/
SmartCFDTradingAgent/storage/decision_log.csv
pnl_log.csv
market_loop.log
SmartCFDTradingAgent/storage/cache/
market_loop.log
crypto_loop.log

# Databases
*.sqlite
*.db
.env
